@import "material-symbols";
@import "tailwindcss";

:root {
  --primary: #003d9b;
  --Primary-Gradient: linear-gradient(95.71deg, #003d9b 0%, #0052cc 100%);
  --Primary-Container: #0052cc;
  --Surface-Highest: #d7e2ff;
  --Surface-Medium: #dce7fe;
  --Surface-Low: #f1f3ff;
  --Background: #f9f9ff;

  --neutral-dark: #041b3c;
  --neutral-muted: #4f5f7b;
  --neutral-border: #c3c6d6;

  --success: #82f9be;
  --error: #ba1a1a;
  --warning: #ffb300;
}

@theme {
  --font-sans: var(--font-inter);
  --text-display-lg: 56px;
  --text-display-lg--line-height: 56px;

  --text-headline-lg: 32px;
  --text-headline-lg--line-height: 40px;

  --text-title-md: 18px;
  --text-title-md--line-height: 27px;

  --text-body-md: 14px;
  --text-body-md--line-height: 22.75px;

  --text-label-sm: 11px;
  --text-label-sm--line-height: 16.5px;

  --color-primary: var(--primary);
  --background-image-Primary-Gradient: var(--Primary-Gradient);
  --color-primary-container: var(--Primary-Container);
  --color-surface-highest: var(--Surface-Highest);
  --color-surface-medium: var(--Surface-Medium);
  --color-surface-low: var(--Surface-Low);
  --color-background: var(--Background);

  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-muted: var(--neutral-muted);
  --color-neutral-border: var(--neutral-border);

  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);

  --shadow-card: 0px 24px 48px rgba(4, 27, 60, 0.06);
}

body {
  font-family: var(--font-sans);
}
